# Python compiled files
*.pyc
*__pycache__/

# Log files
*.log

# Virtual environment
.venv/

# IDE related files
*.idea/

# macOS system files
*.DS_Store

# Databases
**/*.sql

# Pytest cache
*.pytest_cache/





